@import url(./reset.css);
body {
    background-color: orange;
    text-align: center;
}
.main-logo{
    display: flex;
    justify-content: center;
}
.main-img{
    width: 200px;
    padding-top: 115px;
}
.loginbtn-list{
    padding: 40px 0;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 100px;
    position: relative;
    width: 100%;
}

.loginbtn {
    display: block;
    border: 1px solid red;
    margin-bottom: 10px;
    padding-left: 14px;
    border-radius: 30px;
    color: black;
    line-height: 20px;
    padding: 14px 0 14px;
}

.kakao{
    border: 1px solid #F2C94C;
}
.google{
    border: 1px solid #767676
}
.facebook{
    border: 1px solid #2D9CDB
}


.kakao::before{
    
    content: url(./images/message-circle.png);
    float: left;
    margin-left: 10px;
}
.google::before{
    content: url(./images/Google__G__Logo\ 1.png);
    float: left;
    margin-left: 10px;
}

.facebook::before{
    content: url(./images/facebook.png);
    float: left;
    margin-left: 10px;
}

